// primary colours

$darkblue: #1c355e;

$orange: #ff5100;

$headings-lightgrey: #9a9b9c;

$headings-darkgrey: #4a4a4a;

$paragraphs-midgrey: #7e7e7e;

$paragraphs-black: #313131;

// background colours

$background-white: #ffffff;

$background-light-grey: #f6f6f6;

